.tag {
    border-radius: 6px;
    height: 40px;
    width: fit-content;
    padding: 0 12px 0 12px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content {

    display: inline-block;
    text-align: center;
    white-space: nowrap;


}

.short {
    max-width: 126px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 
.red {
    background-color: var(--color-red);
}

.orange {
    background-color: var(--color-orange);
}

.yellow {
    background-color: var(--color-yellow);
}

.green {
    background-color: var(--color-green);
}

.blue {
    background-color: var(--color-blue);
}

.darkBlue {
    background-color: var(--color-dark-blue);
}

.purple {
    background-color: var(--color-purple);
}

.grey {
    background-color: var(--color-grey);
} */