@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('/fonts/SFProText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-white: #FFFFFF;
    --color-red: #F46262;
    --color-red-100: #E33D3E;
    --color-orange: #FC944A;
    --color-yellow: #FAD038;
    --color-green: #47D17C;
    --color-blue: #4CB2E5;
    --color-dark-blue: #6E85F7;
    --color-purple: #C47DE8;
    --color-grey: #999999;
    --color-grey-100: #F5F5F5;
    --color-light-grey: #EDEDED;


    --brand-font: "SF Pro Display", -apple-system, "Muller", "BlinkMacSystemFont", Segoe UI, "Roboto", Oxygen,
        Ubuntu, "Cantarell", Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    --brand-text-font: 'SF Pro Text', "SF Pro Display", -apple-system, "Muller", "BlinkMacSystemFont", Segoe UI, "Roboto", Oxygen,
        Ubuntu, "Cantarell", Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}