:root {
    --color-white: #FFFFFF;
    --color-red: #F46262;
    --color-orange: #FC944A;
    --color-yellow: #FAD038;
    --color-green: #47D17C;
    --color-blue: #4CB2E5;
    --color-dark-blue: #6E85F7;
    --color-purple: #C47DE8;
    --color-grey: #999999;

    --brand-font: "SF Pro Display", "Muller", -apple-system, "BlinkMacSystemFont", Segoe UI, "Roboto", Oxygen,
        Ubuntu, "Cantarell", Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}