.container {
    position: relative;
}

.circle {
    /* position: ; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.chosen {
    position: absolute;
    top: -4.1px;
    left: -4.1px;
}