.circle {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.chosen {
    position: absolute;
    top: -3px;
    left: -2.7px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 2px solid;
}