.tag {
    border-radius: 6px;
    height: 40px;
    width: fit-content;
    max-width: 150px;
    padding: 4px 12px 4px 12px;
    color: var(--color-white);
}

.content {
    max-width: 126px;
    height: 100%;
    padding-top: 4px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.red {
    background-color: var(--color-red);
}

.orange {
    background-color: var(--color-orange);
}

.yellow {
    background-color: var(--color-yellow);
}

.green {
    background-color: var(--color-green);
}

.blue {
    background-color: var(--color-blue);
}

.darkBlue {
    background-color: var(--color-dark-blue);
}

.purple {
    background-color: var(--color-purple);
}

.grey {
    background-color: var(--color-grey);
}